*{
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background-color: blanchedalmond ;
}
.calculator{
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width:400px;
  margin:30px auto;
  padding: 20px;
  gap: 8px;
  border-radius: 8px;
}
.calculator .output{
  background-color: rgb(199, 206, 155);
  grid-column: 1/5;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
  word-break: break-all;
  word-wrap: break-word;
}
.calculator button{
  font-size: 20px;
  font-weight: 600;
  border: none;
  /* background: none; */
  box-shadow: 0px 0px 8px black ;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.calculator button:hover{
  background: rgb(204, 163, 109);
}
.span-two{
  grid-column: span 2;
}
.calculator button:last-child{
  background-color: aquamarine;
  color:blue;
}
.calculator button:last-child:hover{
  background-color: rgb(187, 107, 107);
}
